@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* * {
  outline: 1px solid red;
} */

* {
  @apply font-poppins
}

html, body {
  @apply bg-background-base
}

.link-shadow {
  text-shadow: 0px 4px 3px #00000040;
}

.blognews:nth-child(4n) {
  grid-column: span 3;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.blognews:nth-child(4n) img {
  grid-column: span 2;
  width: 100%;
}

.blognews:nth-child(8n) img {
  order: 2;
}

.menu-flags #rfs-btn {
  border: none;
}

.menu-flags #rfs-btn::after {
  display: none;
}